<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>320682743861-fnn40imc06c9bta3kktvtodf7tlg677h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.320682743861-fnn40imc06c9bta3kktvtodf7tlg677h</string>
	<key>API_KEY</key>
	<string>AIzaSyAvsupylt6HamTq7hYVN-qK9qy40TUbNTc</string>
	<key>GCM_SENDER_ID</key>
	<string>320682743861</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SpielerEinzig.realCafe</string>
	<key>PROJECT_ID</key>
	<string>real-cafe-d3fa4</string>
	<key>STORAGE_BUCKET</key>
	<string>real-cafe-d3fa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:320682743861:ios:b090ec9af23fa9aa1d397c</string>
</dict>
</plist>